@page "/"

<PageTitle>Parcial2_Levid</PageTitle>

<div class="index">
    <h1>Hello, Enel!</h1>

    <h3>Esta es mi entrega para el segundo parcial</h3>

    <label>Jasson Levid Tejada Martinez[2020-0582]</label>

</div>
